#Title
{
	text-align: center;
	font-size: 80px;
	margin-top: 5%;
	color: #FDB927;
}

#Intro
{
	text-align: center;
	margin-left: 28%;
	margin-right: 28%;
	margin-top: -10%;
	color: #FFFFFF;
	font-size: 25px;
	line-height: 45px;
}

body
{
	background-color: #552583
}

.TitleImage
{
	display: block;
	margin-left: auto;
	width: 300px;
}

.ExampleImage
{
	margin-left: 80%;
	width: 250px;
	margin-top: -25%;
	padding: 1%;
	border-style: solid;
	border-color: #FDB927;
}
.Subtitle
{
	font-size: 50px;
	color: #FDB927;
	margin-left: 3%;
}
/*I used a right margin to give the appearance of two people talking*/
.WTDoubleSpace
{
	color: #FFFFFF;
	font-size: 25px;
    font-family: "Comic Sans MS","Times New Roman", serif;
	line-height: 37px;
	margin-right: 42%;
}
.White-Text
{
	color: #FFFFFF;
	font-size: 25px;
	margin-left: 3%;
    font-family: "Comic Sans MS","Times New Roman", serif;
	margin-right: 20%;
	line-height: 40px; 
}
#TOC
{
	background-color: #51A3C3;
	padding: 2%;
	border-style: solid;
	border-color: #FDB927;
	border-width: 5px;
	margin-right: 79%;
    margin-top: -50%;
    margin-left: 1%;
}
#TOCFont
{
	color:#FDB927;
	font-size: 25px;
	margin-left: 3%;
}
a{
	color: #FDB927;
}