#Title
{
	text-align: center;
	font-size: 80px;
	color: #FDB927;
}

#Intro
{
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
	color: #FFFFFF;
	font-size: 20px;
}

body
{
	background-color: #552583
}

.Subtitle
{
	font-size: 50px;
	color: #FDB927;
	margin-left: 3%;
}

.White-Text
{
	color: #FFFFFF;
	font-size: 20px;
	margin-left: 3%;
    font-family: "Comic Sans MS","Times New Roman", serif;
}
#TOC
{

	background-color: #51A3C3;
	padding: 2%;
	border-style: solid;
	border-color: #FDB927;
	border-width: 5px;
	margin-right: 79%;
    margin-top: -20%;
    margin-left: 1%;
}

a{
	color: white;
}